.add_all i{
    margin-left:10px;
    vertical-align:middle
}
.add_all.panel_toolbox{
    float:none;

}
.add_all.panel_toolbox a{
    color:#ffffff;
    display:inline-block
}
.add_all.panel_toolbox>li>a:hover{
    background-color:#337ab7
}
.add_all.panel_toolbox>li>a:focus{
    background-color:#337ab7
}
@media (min-width: 615px) {
    .add_all.panel_toolbox{
        float:right
    }
}